[Unit]
Description=Web Server to control Raspberry-pi lights
Documentation=https://github.com/TheOriginalStove/starshine
Wants=network.target
After=network.target

[Service]
Type=simple
Group=root
User=root
Environment="RUN_MODE=prod"
ExecStart=/usr/local/bin/starshine-server
Restart=Always
RestartSec=3

[Install]
WantedBy=multi-user.target

